.click {
    background-color: aliceblue;
    border: solid rgb(107, 166, 221);
    height: 25px; 
    width: 10%;
    position: absolute;
    left: 10px;
    text-align: center;
}
#home{
    top: 10px;
}
#back {
    top: 40px;
}
#button {
    color:rgb(107, 166, 221);
     font-family: Tahoma, sans-serif;
     font-size: 11px;
}
#pageback {
    color:rgb(107, 166, 221);
     font-family: Tahoma, sans-serif;
     font-size: 11px;
}
body {
    background-color: rgb(144, 200, 200);
 }
 header {
     color:aliceblue;
     font-family: Tahoma, sans-serif;
     font-size: 60px;
     top: 10px;
 }
 #header {
     background-color: rgb(107, 166, 221);
     height: 200px;
     width: 100%;
     left: 0px;
     top: 0px;
 }
 #pic {
    height: 500px;
}
#video {
    position: absolute;
    left: 30%;
    top: 220px;
}